extends base.pug

block head
  title #{pageTitle} | clonging youtube

block content
  div 
    p=video.description
    p=video.hashtags
    small=video.createdAt
  p 
    a(href=`${video.id}/edit`) Edit video &rarr;